<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notification!! Event <%= @event.name %> will take place after one hour.</h1>
    <p>
      You have subscribed for the event, <%= @event.name %>. It is scheduled at <%= @event.starts_at %>. Please attend it.<br>
    </p>
    
    <p>Thank you for subscribing. Have a great day!</p>
  </body>
</html>